PROJETOS/UBEC/nodered-clp-api-corrigido.json
[
  {
    "id": "flow_clp_api",
    "type": "tab",
    "label": "CLP to API Complete Flow",
    "disabled": false
  },
  {
    "id": "init_on_start",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Inicializar ao Iniciar",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 40,
    "wires": [["clear_lock"]]
  },
  {
    "id": "clear_lock",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Limpar Lock",
    "func": "console.log('\\n🔓 Limpando lock de coleta ao iniciar...\\n');\nglobal.set('is_collecting', false);\nglobal.set('clp_data', {});\nreturn null;",
    "x": 380,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "inject_ciclo",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Ciclo de Leitura (30s)",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "x": 160,
    "y": 100,
    "wires": [["trigger_all_reads"]]
  },
  {
    "id": "trigger_all_reads",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Iniciar Coleta",
    "func": "// Verificar se já há uma coleta em andamento\nconst isCollecting = global.get('is_collecting');\n\nif (isCollecting) {\n    console.log('\\n⚠️  COLETA JÁ EM ANDAMENTO - Ignorando trigger duplicado\\n');\n    return null;\n}\n\nconst timestamp = new Date().toISOString();\n\nconsole.log('\\n========================================');\nconsole.log('[1/6] INICIANDO COLETA DE DADOS DO CLP');\nconsole.log('========================================');\nconsole.log('Timestamp:', timestamp);\nconsole.log('Limpando dados anteriores...');\n\n// Marcar que a coleta está em andamento\nglobal.set('is_collecting', true);\nglobal.set('clp_data', {});\nglobal.set('clp_timestamp', timestamp);\n\nconsole.log('Preparando leituras Modbus:');\nconsole.log('  - Temperaturas: FC3, addr 36, qty 4');\nconsole.log('  - Saidas: FC3, addr 600, qty 10 (MW600-609 = M200-209)');\nconsole.log('  - Entradas: FC3, addr 500, qty 14 (MW500-513 = M100-113)');\nconsole.log('----------------------------------------');\nconsole.log('Enviando 3 comandos Modbus em paralelo...');\nconsole.log('');\n\n// Timeout de segurança: se após 10 segundos não receber todos os dados, libera o lock\nsetTimeout(() => {\n    const data = global.get('clp_data') || {};\n    const isCollecting = global.get('is_collecting');\n    \n    if (isCollecting && (!data.temperaturas || !data.saidas || !data.entradas)) {\n        console.log('\\n⚠️  TIMEOUT: Coleta não completou em 10 segundos');\n        console.log('Dados recebidos:', Object.keys(data));\n        console.log('Liberando lock...');\n        global.set('is_collecting', false);\n    }\n}, 10000);\n\n// ATENÇÃO: Usando FC3 para todos\n// Enviar para cada saída usando node.send() para garantir que todas recebem\nconst msg1 = {payload: {fc: 3, unitid: 1, address: 36, quantity: 4}, topic: 'read_temps'};\nconst msg2 = {payload: {fc: 3, unitid: 1, address: 600, quantity: 10}, topic: 'read_outputs'};\nconst msg3 = {payload: {fc: 3, unitid: 1, address: 500, quantity: 14}, topic: 'read_inputs'};\n\nconsole.log('Enviando msg1 (temps):', JSON.stringify(msg1.payload));\nconsole.log('Enviando msg2 (outputs):', JSON.stringify(msg2.payload));\nconsole.log('Enviando msg3 (inputs):', JSON.stringify(msg3.payload));\n\n// Enviar com delay para evitar race condition\nsetTimeout(() => {\n    node.send([null, msg2, null]);\n}, 100);\n\nsetTimeout(() => {\n    node.send([null, null, msg3]);\n}, 200);\n\n// Enviar msg1 imediatamente\nreturn [msg1, null, null];",
    "x": 360,
    "y": 100,
    "wires": [["read_temps"], ["read_outputs"], ["read_inputs"]]
  },
  {
    "id": "read_temps",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Temperaturas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 80,
    "wires": [["process_temps"], ["error_handler"]]
  },
  {
    "id": "read_outputs",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Saidas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 120,
    "wires": [["process_outputs"], ["error_handler"]]
  },
  {
    "id": "read_inputs",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Entradas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 160,
    "wires": [["process_inputs"], ["error_handler"]]
  },
  {
    "id": "process_temps",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Temperaturas",
    "func": "console.log('\\n[2/6] PROCESSANDO TEMPERATURAS');\nconsole.log('Topic:', msg.topic);\nconsole.log('Recebendo dados do Modbus...');\nconsole.log('msg.payload completo:', JSON.stringify(msg.payload).substring(0, 200));\nconsole.log('msg.values:', msg.values);\n\nlet registers = [];\n\nif (Array.isArray(msg.values)) {\n    console.log('  Fonte: msg.values (array direto)');\n    registers = msg.values;\n} else if (msg.payload.buffer && Buffer.isBuffer(msg.payload.buffer)) {\n    console.log('  Fonte: msg.payload.buffer (Buffer)');\n    const buffer = msg.payload.buffer;\n    for (let i = 0; i < buffer.length; i += 2) {\n        registers.push(buffer.readInt16BE(i));\n    }\n} else if (Array.isArray(msg.payload.data)) {\n    console.log('  Fonte: msg.payload.data (array)');\n    registers = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    console.log('  Fonte: msg.payload (array)');\n    registers = msg.payload;\n} else {\n    console.log('  ERRO: Formato invalido!');\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconsole.log('  Registros brutos:', registers);\n\n// Converter unsigned para signed int16 (complemento de 2)\nconst toSigned16 = (val) => {\n    if (val > 32767) return val - 65536;\n    return val;\n};\n\n// ATENÇÃO: O PLC já faz a divisão por 10 internamente (%MW22 := %MW20 / 10)\n// Então aqui pegamos o valor direto sem dividir novamente\nconst temps = {\n    ambiente: toSigned16(registers[0]) / 10,\n    quadro: toSigned16(registers[1]) / 10,\n    modulo: toSigned16(registers[2]) / 10,\n    trafo: toSigned16(registers[3]) / 10\n};\n\nconsole.log('  Temperaturas processadas:');\nconsole.log('    Ambiente:', temps.ambiente.toFixed(1) + '°C');\nconsole.log('    Quadro Eletrico:', temps.quadro.toFixed(1) + '°C');\nconsole.log('    Modulo FV:', temps.modulo.toFixed(1) + '°C');\nconsole.log('    Transformador:', temps.trafo.toFixed(1) + '°C');\n\nnode.status({fill:\"green\",shape:\"dot\",text:`T: ${temps.ambiente.toFixed(1)}°C / ${temps.quadro.toFixed(1)}°C / ${temps.modulo.toFixed(1)}°C / ${temps.trafo.toFixed(1)}°C`});\n\nlet data = global.get('clp_data') || {};\ndata.temperaturas = temps;\nglobal.set('clp_data', data);\n\nconsole.log('  Status do global.clp_data:', Object.keys(data));\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    console.log('  ✓ Todos os dados coletados! Enviando para agregacao...\\n');\n    return { payload: 'trigger_send' };\n}\n\nconsole.log('  Aguardando outros dados...\\n');\nreturn null;",
    "x": 820,
    "y": 80,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "process_outputs",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Saidas",
    "func": "console.log('\\n>>> ENTROU NO PROCESSADOR DE SAIDAS <<<');\nconsole.log('[3/6] PROCESSANDO SAIDAS');\nconsole.log('Topic:', msg.topic);\nconsole.log('msg.payload completo:', JSON.stringify(msg.payload).substring(0, 200));\nconsole.log('msg.values:', msg.values);\nconsole.log('msg.error:', msg.error);\n\nlet rawData = [];\n\nif (Array.isArray(msg.values)) {\n    console.log('  Fonte: msg.values');\n    rawData = msg.values;\n} else if (Array.isArray(msg.payload.data)) {\n    console.log('  Fonte: msg.payload.data');\n    rawData = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    console.log('  Fonte: msg.payload');\n    rawData = msg.payload;\n} else {\n    console.log('  ERRO: Formato invalido!');\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconsole.log('  Dados brutos:', rawData.slice(0, 10));\n\n// Se veio como registros (FC3), converter para booleanos\nlet coils = [];\nif (typeof rawData[0] === 'number') {\n    console.log('  Convertendo de registros (FC3) para bits...');\n    // Cada registro representa um coil: 0 = false, >0 = true\n    coils = rawData.map(val => val > 0);\n} else {\n    // Já veio como booleanos (FC1)\n    coils = rawData;\n}\n\nconsole.log('  Coils processados:', coils.slice(0, 10));\n\nconst saidas = {\n    comunicacao_ok: coils[0] || false,\n    usina_gerando: coils[1] || false,\n    falha: coils[2] || false,\n    alarme: coils[3] || false,\n    emergencia_inversores: coils[4] || false,\n    reset_rasp: coils[5] || false,\n    reset_link_3g: coils[6] || false,\n    reserva_1: coils[7] || false,\n    reserva_2: coils[8] || false,\n    reserva_3: coils[9] || false\n};\n\nconst activeCount = Object.values(saidas).filter(v => v === true).length;\nconsole.log('  Saidas ativas:', activeCount + '/10');\nif (activeCount > 0) {\n    const active = Object.entries(saidas).filter(([k,v]) => v).map(([k]) => k);\n    console.log('  Ativas:', active.join(', '));\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`${activeCount} saidas ativas`});\n\nlet data = global.get('clp_data') || {};\ndata.saidas = saidas;\nglobal.set('clp_data', data);\n\nconsole.log('  Status do global.clp_data:', Object.keys(data));\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    console.log('  ✓ Todos os dados coletados! Enviando para agregacao...\\n');\n    return { payload: 'trigger_send' };\n}\n\nconsole.log('  Aguardando outros dados...\\n');\nreturn null;",
    "x": 820,
    "y": 120,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "process_inputs",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Entradas",
    "func": "console.log('\\n>>> ENTROU NO PROCESSADOR DE ENTRADAS <<<');\nconsole.log('[4/6] PROCESSANDO ENTRADAS');\nconsole.log('Topic:', msg.topic);\nconsole.log('msg.payload completo:', JSON.stringify(msg.payload).substring(0, 200));\nconsole.log('msg.values:', msg.values);\nconsole.log('msg.error:', msg.error);\n\nlet rawData = [];\n\nif (Array.isArray(msg.values)) {\n    console.log('  Fonte: msg.values');\n    rawData = msg.values;\n} else if (Array.isArray(msg.payload.data)) {\n    console.log('  Fonte: msg.payload.data');\n    rawData = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    console.log('  Fonte: msg.payload');\n    rawData = msg.payload;\n} else {\n    console.log('  ERRO: Formato invalido!');\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconsole.log('  Dados brutos:', rawData.slice(0, 14));\n\n// Se veio como registros (FC3), converter para booleanos\nlet inputs = [];\nif (typeof rawData[0] === 'number') {\n    console.log('  Convertendo de registros (FC3) para bits...');\n    // Cada registro representa um input: 0 = false, >0 = true\n    inputs = rawData.map(val => val > 0);\n} else {\n    // Já veio como booleanos (FC1/FC2)\n    inputs = rawData;\n}\n\nconsole.log('  Inputs processados:', inputs.slice(0, 14));\n\nconst entradas = {\n    dj_geral_aberto: inputs[0] || false,\n    dj_geral_fechado: inputs[1] || false,\n    reserva_i02: inputs[2] || false,\n    reserva_i03: inputs[3] || false,\n    reserva_i04: inputs[4] || false,\n    reserva_i05: inputs[5] || false,\n    reserva_i06: inputs[6] || false,\n    reserva_i07: inputs[7] || false,\n    reserva_i08: inputs[8] || false,\n    reserva_i09: inputs[9] || false,\n    servico_auxiliar: inputs[10] || false,\n    botao_close: inputs[11] || false,\n    botao_trip: inputs[12] || false,\n    botao_emergencia: inputs[13] || false\n};\n\nconst activeCount = Object.values(entradas).filter(v => v === true).length;\nconsole.log('  Entradas ativas:', activeCount + '/14');\nif (activeCount > 0) {\n    const active = Object.entries(entradas).filter(([k,v]) => v).map(([k]) => k);\n    console.log('  Ativas:', active.join(', '));\n}\n\nnode.status({fill:\"cyan\",shape:\"dot\",text:`${activeCount} entradas ativas`});\n\nlet data = global.get('clp_data') || {};\ndata.entradas = entradas;\nglobal.set('clp_data', data);\n\nconsole.log('  Status do global.clp_data:', Object.keys(data));\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    console.log('  ✓ Todos os dados coletados! Enviando para agregacao...\\n');\n    return { payload: 'trigger_send' };\n}\n\nconsole.log('  Aguardando outros dados...\\n');\nreturn null;",
    "x": 820,
    "y": 160,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "aggregate_and_send",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Agregar Dados Completos",
    "func": "console.log('[5/6] AGREGANDO DADOS COMPLETOS');\n\nconst data = global.get('clp_data');\nconst timestamp = global.get('clp_timestamp');\n\nconsole.log('Verificando dados disponíveis...');\nconsole.log('  Temperaturas:', data && data.temperaturas ? 'OK' : 'FALTANDO');\nconsole.log('  Saidas:', data && data.saidas ? 'OK' : 'FALTANDO');\nconsole.log('  Entradas:', data && data.entradas ? 'OK' : 'FALTANDO');\n\nif (!data || !data.temperaturas || !data.saidas || !data.entradas) {\n    console.log('  ERRO: Dados incompletos! Abortando agregacao.\\n');\n    return null;\n}\n\nconsole.log('Montando payload da API...');\n\nconst apiPayload = {\n    device_id: \"CLP_SCHNEIDER_TM200CE24R\",\n    timestamp: timestamp,\n    location: {\n        site: \"Usina Solar\",\n        installation: \"UBEC Automacao\"\n    },\n    sensors: {\n        temperaturas: {\n            ambiente: {\n                value: data.temperaturas.ambiente,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW36\"\n            },\n            quadro_eletrico: {\n                value: data.temperaturas.quadro,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW38\"\n            },\n            modulo_fotovoltaico: {\n                value: data.temperaturas.modulo,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW40\"\n            },\n            transformador: {\n                value: data.temperaturas.trafo,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW42\"\n            }\n        }\n    },\n    status: {\n        outputs: data.saidas,\n        inputs: data.entradas,\n        operational: {\n            comunicacao_ok: data.saidas.comunicacao_ok,\n            sistema_ativo: data.saidas.usina_gerando,\n            em_falha: data.saidas.falha,\n            alarme_ativo: data.saidas.alarme,\n            emergencia_ativa: data.saidas.emergencia_inversores\n        },\n        electrical: {\n            disjuntor_geral_status: data.entradas.dj_geral_fechado ? \"FECHADO\" : \"ABERTO\",\n            servico_auxiliar_ok: data.entradas.servico_auxiliar\n        }\n    },\n    alerts: [],\n    metadata: {\n        protocol: \"Modbus TCP\",\n        plc_model: \"Schneider TM200CE24R\",\n        firmware_version: \"2.9.0.0\",\n        data_quality: \"good\"\n    }\n};\n\nif (data.saidas.falha) {\n    apiPayload.alerts.push({\n        type: \"FAULT\",\n        severity: \"high\",\n        message: \"Sistema em falha\",\n        timestamp: timestamp\n    });\n}\n\nif (data.saidas.alarme) {\n    apiPayload.alerts.push({\n        type: \"ALARM\",\n        severity: \"medium\",\n        message: \"Alarme sonoro ativo\",\n        timestamp: timestamp\n    });\n}\n\nif (data.saidas.emergencia_inversores) {\n    apiPayload.alerts.push({\n        type: \"EMERGENCY\",\n        severity: \"critical\",\n        message: \"Emergencia de inversores acionada\",\n        timestamp: timestamp\n    });\n}\n\nif (data.temperaturas.trafo > 80) {\n    apiPayload.alerts.push({\n        type: \"TEMPERATURE_HIGH\",\n        severity: \"high\",\n        message: \"Temperatura do transformador alta: \" + data.temperaturas.trafo + \"C\",\n        timestamp: timestamp\n    });\n}\n\nif (data.temperaturas.modulo > 70) {\n    apiPayload.alerts.push({\n        type: \"TEMPERATURE_HIGH\",\n        severity: \"medium\",\n        message: \"Temperatura do modulo alta: \" + data.temperaturas.modulo + \"C\",\n        timestamp: timestamp\n    });\n}\n\nmsg.payload = apiPayload;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'X-Device-ID': 'CLP_SCHNEIDER_TM200CE24R',\n    'X-Timestamp': timestamp\n};\n\nconsole.log('\\n════════════════════════════════════════');\nconsole.log('PAYLOAD COMPLETA PARA API:');\nconsole.log('════════════════════════════════════════');\nconsole.log(JSON.stringify(apiPayload, null, 2));\nconsole.log('════════════════════════════════════════\\n');\n\nconsole.log('Alertas gerados:', apiPayload.alerts.length);\nif (apiPayload.alerts.length > 0) {\n    apiPayload.alerts.forEach(alert => {\n        console.log('  - [' + alert.severity + '] ' + alert.type + ': ' + alert.message);\n    });\n}\n\nconsole.log('\\nLimpando dados globais...');\nglobal.set('clp_data', {});\n\nconsole.log('Liberando lock de coleta...');\nglobal.set('is_collecting', false);\n\nconsole.log('Enviando para API em http://localhost:3001/api/clp/telemetry\\n');\n\nreturn msg;",
    "x": 370,
    "y": 300,
    "wires": [["send_to_api", "debug_api_payload", "backup_to_file"]]
  },
  {
    "id": "send_to_api",
    "type": "http request",
    "z": "flow_clp_api",
    "name": "POST para API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/clp/telemetry",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 280,
    "wires": [["api_response_handler"], ["api_error_handler"]]
  },
  {
    "id": "api_response_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Resposta API",
    "func": "console.log('[6/6] RESPOSTA DA API');\nconsole.log('Status HTTP:', msg.statusCode);\n\nif (msg.statusCode === 200 || msg.statusCode === 201) {\n    console.log('✓ SUCESSO! Dados enviados para o supervisório');\n    console.log('Resposta do servidor:', JSON.stringify(msg.payload, null, 2));\n    console.log('========================================\\n');\n    \n    node.status({fill:\"green\",shape:\"dot\",text:\"Enviado com sucesso\"});\n    \n    msg.payload = {\n        success: true,\n        timestamp: new Date().toISOString(),\n        response: msg.payload\n    };\n} else {\n    console.log('✗ ERRO! Status:', msg.statusCode);\n    console.log('Resposta:', JSON.stringify(msg.payload, null, 2));\n    console.log('========================================\\n');\n    \n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Status: \" + msg.statusCode});\n    \n    msg.payload = {\n        success: false,\n        statusCode: msg.statusCode,\n        error: msg.payload\n    };\n}\n\nreturn msg;",
    "x": 880,
    "y": 280,
    "wires": [["debug_api_response"]]
  },
  {
    "id": "api_error_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Tratar Erro API",
    "func": "console.log('[6/6] ERRO AO ENVIAR PARA API');\nconsole.log('✗ FALHA na comunicação com o servidor');\nconsole.log('Erro:', JSON.stringify(msg.payload, null, 2));\nconsole.log('Salvando para retry posterior...');\nconsole.log('========================================\\n');\n\nnode.status({fill:\"red\",shape:\"ring\",text:\"Erro ao enviar\"});\n\nmsg.payload = {\n    success: false,\n    error: msg.payload,\n    timestamp: new Date().toISOString(),\n    action: \"Dados salvos localmente para retry\"\n};\n\nflow.set('failed_api_requests', flow.get('failed_api_requests') || []);\nlet failedRequests = flow.get('failed_api_requests');\nfailedRequests.push({\n    timestamp: new Date().toISOString(),\n    data: msg.originalPayload\n});\nflow.set('failed_api_requests', failedRequests);\n\nconsole.log('Total de requisições falhadas:', failedRequests.length);\n\nreturn msg;",
    "x": 880,
    "y": 320,
    "wires": [["debug_api_error"]]
  },
  {
    "id": "backup_to_file",
    "type": "file",
    "z": "flow_clp_api",
    "name": "Backup Local (JSON)",
    "filename": "/home/gabriel/clp_data_backup.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 680,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "debug_api_payload",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Payload API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 670,
    "y": 380,
    "wires": []
  },
  {
    "id": "debug_api_response",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Resposta API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 1100,
    "y": 280,
    "wires": []
  },
  {
    "id": "debug_api_error",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Erro API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 1090,
    "y": 320,
    "wires": []
  },
  {
    "id": "error_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Tratar Erro Modbus",
    "func": "// Check if this is actually an error or just monitoring output\nconst hasError = msg.error || (msg.payload && msg.payload.error);\nconst hasData = msg.payload && (msg.payload.data || msg.payload.buffer || msg.values);\n\nconsole.log('\\n[MODBUS MONITOR/ERROR] Topic:', msg.topic || 'unknown');\nconsole.log('  Has Error:', !!hasError);\nconsole.log('  Has Data:', !!hasData);\nconsole.log('  msg.error:', msg.error);\nconsole.log('  msg.payload:', JSON.stringify(msg.payload).substring(0, 300));\nconsole.log('  msg.values:', msg.values);\n\nif (hasData) {\n    console.log('  ✓ Data recebido com sucesso:', msg.topic);\n    if (msg.values) {\n        console.log('  Valores:', msg.values.slice ? msg.values.slice(0, 10) : msg.values);\n    } else if (msg.payload.data) {\n        console.log('  Valores:', msg.payload.data.slice ? msg.payload.data.slice(0, 10) : msg.payload.data);\n    }\n}\n\n// Only log if there's an actual error and no data\nif (hasError && !hasData) {\n    console.log('  ✗ ERRO REAL no Modbus!');\n    console.log('  Detalhes do erro:', JSON.stringify(msg, null, 2).substring(0, 500));\n    node.error(\"Erro ao ler Modbus: \" + JSON.stringify(msg.payload));\n    node.status({fill:\"red\",shape:\"ring\",text:\"Erro Modbus\"});\n    return msg;\n}\n\nif (!hasData && !hasError) {\n    console.log('  ⚠️  SEM DADOS e SEM ERRO - resposta vazia ou timeout');\n    console.log('  msg completo:', JSON.stringify(msg).substring(0, 300));\n}\n\nconsole.log('  (Monitoramento concluído)\\n');\n// Otherwise, it's just normal monitoring - don't flood the error log\nreturn null;",
    "x": 820,
    "y": 420,
    "wires": [["debug_modbus_error"]]
  },
  {
    "id": "debug_modbus_error",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Erro Modbus",
    "active": true,
    "console": false,
    "complete": "true",
    "x": 1060,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject_manual",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Teste Manual",
    "props": [
      {"p": "payload"}
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 140,
    "wires": [["trigger_all_reads"]]
  },
  {
    "id": "modbus_config_temps",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Temperaturas (MW36-42)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":3,\"unitid\":1,\"address\":36,\"quantity\":4}",
    "payloadType": "json",
    "x": 410,
    "y": 80,
    "wires": [["read_temps"]]
  },
  {
    "id": "modbus_config_outputs",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Saidas (M200-209)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":200,\"quantity\":10}",
    "payloadType": "json",
    "x": 410,
    "y": 120,
    "wires": [["read_outputs"]]
  },
  {
    "id": "modbus_config_inputs",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Entradas (M100-113)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":100,\"quantity\":14}",
    "payloadType": "json",
    "x": 410,
    "y": 160,
    "wires": [["read_inputs"]]
  },
  {
    "id": "modbus_client",
    "type": "modbus-client",
    "name": "CLP Schneider TM200CE24R",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "queueLogEnabled": false,
    "tcpHost": "192.168.10.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "50",
    "clientTimeout": "3000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "5000",
    "parallelUnitIdsAllowed": true
  }
]
