PROJETOS/UBEC/nodered-clp-api-corrigido.json
[
  {
    "id": "flow_clp_api",
    "type": "tab",
    "label": "CLP to API Complete Flow",
    "disabled": false
  },
  {
    "id": "inject_ciclo",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Ciclo de Leitura (30s)",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "x": 160,
    "y": 100,
    "wires": [["trigger_all_reads"]]
  },
  {
    "id": "trigger_all_reads",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Iniciar Coleta",
    "func": "global.set('clp_data', {});\nglobal.set('clp_timestamp', new Date().toISOString());\n\nreturn [\n    {payload: {fc: 3, unitid: 1, address: 36, quantity: 4}, topic: 'read_temps'},\n    {payload: {fc: 1, unitid: 1, address: 200, quantity: 10}, topic: 'read_outputs'},\n    {payload: {fc: 1, unitid: 1, address: 100, quantity: 14}, topic: 'read_inputs'}\n];",
    "x": 360,
    "y": 100,
    "wires": [["read_temps"], ["read_outputs"], ["read_inputs"]]
  },
  {
    "id": "read_temps",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Temperaturas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 80,
    "wires": [["process_temps"], ["error_handler"]]
  },
  {
    "id": "read_outputs",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Saidas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 120,
    "wires": [["process_outputs"], ["error_handler"]]
  },
  {
    "id": "read_inputs",
    "type": "modbus-flex-getter",
    "z": "flow_clp_api",
    "name": "Ler Entradas",
    "showStatusActivities": false,
    "showErrors": true,
    "server": "modbus_client",
    "useIOFile": false,
    "x": 600,
    "y": 160,
    "wires": [["process_inputs"], ["error_handler"]]
  },
  {
    "id": "process_temps",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Temperaturas",
    "func": "let registers = [];\n\nif (msg.payload.buffer && Buffer.isBuffer(msg.payload.buffer)) {\n    const buffer = msg.payload.buffer;\n    for (let i = 0; i < buffer.length; i += 2) {\n        registers.push(buffer.readInt16BE(i));\n    }\n} else if (Array.isArray(msg.payload.data)) {\n    registers = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    registers = msg.payload;\n} else {\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst temps = {\n    ambiente: registers[0] / 10,\n    quadro: registers[1] / 10,\n    modulo: registers[2] / 10,\n    trafo: registers[3] / 10\n};\n\nlet data = global.get('clp_data') || {};\ndata.temperaturas = temps;\nglobal.set('clp_data', data);\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    return { payload: 'trigger_send' };\n}\n\nreturn null;",
    "x": 820,
    "y": 80,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "process_outputs",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Saidas",
    "func": "let coils = [];\n\nif (Array.isArray(msg.payload.data)) {\n    coils = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    coils = msg.payload;\n} else {\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst saidas = {\n    comunicacao_ok: coils[0] || false,\n    usina_gerando: coils[1] || false,\n    falha: coils[2] || false,\n    alarme: coils[3] || false,\n    emergencia_inversores: coils[4] || false,\n    reset_rasp: coils[5] || false,\n    reset_link_3g: coils[6] || false,\n    reserva_1: coils[7] || false,\n    reserva_2: coils[8] || false,\n    reserva_3: coils[9] || false\n};\n\nlet data = global.get('clp_data') || {};\ndata.saidas = saidas;\nglobal.set('clp_data', data);\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    return { payload: 'trigger_send' };\n}\n\nreturn null;",
    "x": 820,
    "y": 120,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "process_inputs",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Entradas",
    "func": "let inputs = [];\n\nif (Array.isArray(msg.payload.data)) {\n    inputs = msg.payload.data;\n} else if (Array.isArray(msg.payload)) {\n    inputs = msg.payload;\n} else {\n    node.error('Formato de dados invalido: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\nconst entradas = {\n    dj_geral_aberto: inputs[0] || false,\n    dj_geral_fechado: inputs[1] || false,\n    reserva_i02: inputs[2] || false,\n    reserva_i03: inputs[3] || false,\n    reserva_i04: inputs[4] || false,\n    reserva_i05: inputs[5] || false,\n    reserva_i06: inputs[6] || false,\n    reserva_i07: inputs[7] || false,\n    reserva_i08: inputs[8] || false,\n    reserva_i09: inputs[9] || false,\n    servico_auxiliar: inputs[10] || false,\n    botao_close: inputs[11] || false,\n    botao_trip: inputs[12] || false,\n    botao_emergencia: inputs[13] || false\n};\n\nlet data = global.get('clp_data') || {};\ndata.entradas = entradas;\nglobal.set('clp_data', data);\n\nif (data.temperaturas && data.saidas && data.entradas) {\n    return { payload: 'trigger_send' };\n}\n\nreturn null;",
    "x": 820,
    "y": 160,
    "wires": [["aggregate_and_send"]]
  },
  {
    "id": "aggregate_and_send",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Agregar Dados Completos",
    "func": "const data = global.get('clp_data');\nconst timestamp = global.get('clp_timestamp');\n\nif (!data || !data.temperaturas || !data.saidas || !data.entradas) {\n    return null;\n}\n\nconst apiPayload = {\n    device_id: \"CLP_SCHNEIDER_TM200CE24R\",\n    timestamp: timestamp,\n    location: {\n        site: \"Usina Solar\",\n        installation: \"UBEC Automacao\"\n    },\n    sensors: {\n        temperaturas: {\n            ambiente: {\n                value: data.temperaturas.ambiente,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW36\"\n            },\n            quadro_eletrico: {\n                value: data.temperaturas.quadro,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW38\"\n            },\n            modulo_fotovoltaico: {\n                value: data.temperaturas.modulo,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW40\"\n            },\n            transformador: {\n                value: data.temperaturas.trafo,\n                unit: \"celsius\",\n                sensor_type: \"PT100\",\n                address: \"%MW42\"\n            }\n        }\n    },\n    status: {\n        outputs: data.saidas,\n        inputs: data.entradas,\n        operational: {\n            comunicacao_ok: data.saidas.comunicacao_ok,\n            sistema_ativo: data.saidas.usina_gerando,\n            em_falha: data.saidas.falha,\n            alarme_ativo: data.saidas.alarme,\n            emergencia_ativa: data.saidas.emergencia_inversores\n        },\n        electrical: {\n            disjuntor_geral_status: data.entradas.dj_geral_fechado ? \"FECHADO\" : \"ABERTO\",\n            servico_auxiliar_ok: data.entradas.servico_auxiliar\n        }\n    },\n    alerts: [],\n    metadata: {\n        protocol: \"Modbus TCP\",\n        plc_model: \"Schneider TM200CE24R\",\n        firmware_version: \"2.9.0.0\",\n        data_quality: \"good\"\n    }\n};\n\nif (data.saidas.falha) {\n    apiPayload.alerts.push({\n        type: \"FAULT\",\n        severity: \"high\",\n        message: \"Sistema em falha\",\n        timestamp: timestamp\n    });\n}\n\nif (data.saidas.alarme) {\n    apiPayload.alerts.push({\n        type: \"ALARM\",\n        severity: \"medium\",\n        message: \"Alarme sonoro ativo\",\n        timestamp: timestamp\n    });\n}\n\nif (data.saidas.emergencia_inversores) {\n    apiPayload.alerts.push({\n        type: \"EMERGENCY\",\n        severity: \"critical\",\n        message: \"Emergencia de inversores acionada\",\n        timestamp: timestamp\n    });\n}\n\nif (data.temperaturas.trafo > 80) {\n    apiPayload.alerts.push({\n        type: \"TEMPERATURE_HIGH\",\n        severity: \"high\",\n        message: \"Temperatura do transformador alta: \" + data.temperaturas.trafo + \"C\",\n        timestamp: timestamp\n    });\n}\n\nif (data.temperaturas.modulo > 70) {\n    apiPayload.alerts.push({\n        type: \"TEMPERATURE_HIGH\",\n        severity: \"medium\",\n        message: \"Temperatura do modulo alta: \" + data.temperaturas.modulo + \"C\",\n        timestamp: timestamp\n    });\n}\n\nmsg.payload = apiPayload;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'X-Device-ID': 'CLP_SCHNEIDER_TM200CE24R',\n    'X-Timestamp': timestamp\n};\n\nglobal.set('clp_data', {});\n\nreturn msg;",
    "x": 370,
    "y": 300,
    "wires": [["send_to_api", "debug_api_payload", "backup_to_file"]]
  },
  {
    "id": "send_to_api",
    "type": "http request",
    "z": "flow_clp_api",
    "name": "POST para API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/clp/telemetry",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 280,
    "wires": [["api_response_handler"], ["api_error_handler"]]
  },
  {
    "id": "api_response_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Processar Resposta API",
    "func": "if (msg.statusCode === 200 || msg.statusCode === 201) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enviado com sucesso\"});\n    \n    msg.payload = {\n        success: true,\n        timestamp: new Date().toISOString(),\n        response: msg.payload\n    };\n} else {\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Status: \" + msg.statusCode});\n    \n    msg.payload = {\n        success: false,\n        statusCode: msg.statusCode,\n        error: msg.payload\n    };\n}\n\nreturn msg;",
    "x": 880,
    "y": 280,
    "wires": [["debug_api_response"]]
  },
  {
    "id": "api_error_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Tratar Erro API",
    "func": "node.status({fill:\"red\",shape:\"ring\",text:\"Erro ao enviar\"});\n\nmsg.payload = {\n    success: false,\n    error: msg.payload,\n    timestamp: new Date().toISOString(),\n    action: \"Dados salvos localmente para retry\"\n};\n\nflow.set('failed_api_requests', flow.get('failed_api_requests') || []);\nlet failedRequests = flow.get('failed_api_requests');\nfailedRequests.push({\n    timestamp: new Date().toISOString(),\n    data: msg.originalPayload\n});\nflow.set('failed_api_requests', failedRequests);\n\nreturn msg;",
    "x": 880,
    "y": 320,
    "wires": [["debug_api_error"]]
  },
  {
    "id": "backup_to_file",
    "type": "file",
    "z": "flow_clp_api",
    "name": "Backup Local (JSON)",
    "filename": "/home/gabriel/clp_data_backup.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 680,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "debug_api_payload",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Payload API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 670,
    "y": 380,
    "wires": []
  },
  {
    "id": "debug_api_response",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Resposta API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 1100,
    "y": 280,
    "wires": []
  },
  {
    "id": "debug_api_error",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Erro API",
    "active": true,
    "console": false,
    "complete": "payload",
    "x": 1090,
    "y": 320,
    "wires": []
  },
  {
    "id": "error_handler",
    "type": "function",
    "z": "flow_clp_api",
    "name": "Tratar Erro Modbus",
    "func": "node.error(\"Erro ao ler Modbus: \" + JSON.stringify(msg.payload));\nnode.status({fill:\"red\",shape:\"ring\",text:\"Erro Modbus\"});\nreturn msg;",
    "x": 820,
    "y": 420,
    "wires": [["debug_modbus_error"]]
  },
  {
    "id": "debug_modbus_error",
    "type": "debug",
    "z": "flow_clp_api",
    "name": "Erro Modbus",
    "active": true,
    "console": false,
    "complete": "true",
    "x": 1060,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject_manual",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Teste Manual",
    "props": [],
    "once": false,
    "x": 150,
    "y": 140,
    "wires": [["trigger_all_reads"]]
  },
  {
    "id": "modbus_config_temps",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Temperaturas (MW36-42)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":3,\"unitid\":1,\"address\":36,\"quantity\":4}",
    "payloadType": "json",
    "x": 410,
    "y": 80,
    "wires": [["read_temps"]]
  },
  {
    "id": "modbus_config_outputs",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Saidas (M200-209)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":200,\"quantity\":10}",
    "payloadType": "json",
    "x": 410,
    "y": 120,
    "wires": [["read_outputs"]]
  },
  {
    "id": "modbus_config_inputs",
    "type": "inject",
    "z": "flow_clp_api",
    "name": "Config: Entradas (M100-113)",
    "props": [
      {"p": "payload"},
      {"p": "topic", "vt": "str"}
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "payload": "{\"fc\":1,\"unitid\":1,\"address\":100,\"quantity\":14}",
    "payloadType": "json",
    "x": 410,
    "y": 160,
    "wires": [["read_inputs"]]
  },
  {
    "id": "modbus_client",
    "type": "modbus-client",
    "name": "CLP Schneider TM200CE24R",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "queueLogEnabled": false,
    "tcpHost": "192.168.10.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "50",
    "clientTimeout": "3000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "5000",
    "parallelUnitIdsAllowed": true
  }
]
